# Functional Programming
A programming paradigm where programs are constructed by applying and composing functions.

#### Lambda

In [1]:
def add_two(x):
    x = x + 2
    return x

add_two(6)

8

In [11]:
add_two_lambda = lambda x: x + 2
add_two_lambda(6)

8

In [3]:
def sum(x,y):
    return x + y

sum(1,4)

5

In [4]:
sum = lambda x,y: x + y

sum(1,4)

5

In [14]:
my_funct = lambda name: (name.split()[0], name.split()[1])

my_funct("Hamid Omid")

['Hamid', 'Omid']

In [8]:
a_funct = lambda x,y: (x + y, x - y)
a_funct(1,5)

(6, -4)

In [12]:
numbers = range(1,10)

for num in numbers:
    print(add_two_lambda(num))

3
4
5
6
7
8
9
10
11

#### Map

In [15]:
a_list = ["Alex", "Brie", "Carlos"]

In [17]:
def lower(name):
    name = name.lower()
    return name

lower("Alex")

'alex'

In [18]:
names_lowered = []
for name in a_list:
    names_lowered.append(lower(name))
    
names_lowered

['alex', 'brie', 'carlos']

In [20]:
lower = lambda name: name.lower()

lower("Alex")

'alex'

In [21]:
map(lower, a_list)

In [22]:
list(map(lambda x : x.lower(), a_list))

['alex', 'brie', 'carlos']

#### Filter

In [24]:
def is_positive(x):
    return x > 0

is_positive(-2)

False

In [26]:


a_list = [1,3,-1,-3]

list(filter(is_positive, a_list))

[1, 3]

#### reduce

In [37]:
from functools import reduce

def sum(x,y):
    return x + y

def product(x,y):
    return x * y

In [38]:

a_list = [2,4,8,10]

 

reduce(sum, a_list)

24

In [31]:
reduce(product, a_list)

640

In [ ]:
[2,4,8,10] -> [6,8,10] -> [14,10] -> [24] -> 24

In [ ]:
[2,4,8,10] -> [8,8,10] -> [64,10] -> [640] -> 640

In [39]:
help(reduce)

Help on built-in function reduce in module _functools:

reduce(...)
    reduce(function, sequence[, initial]) -> value

    Apply a function of two arguments cumulatively to the items of a sequence,
    from left to right, so as to reduce the sequence to a single value.
    For example, reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates
    ((((1+2)+3)+4)+5).  If initial is present, it is placed before the items
    of the sequence in the calculation, and serves as a default when the
    sequence is empty.

In [40]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

# Questions

1. Find names in this list that start with an "i" or "f".

In [46]:
persons = ['alfred', 'tabitha', 'William', 'fred', 'isaac', 'Ivan', 'arla']

def starts_with(name):
    name = name.lower()
    condition = name.startswith("i") or name.startswith("f")
    return condition

starts_with("Ivan")

True

In [47]:
list(filter(starts_with, persons))

['fred', 'isaac', 'Ivan']

In [48]:
list(filter(lambda name: name.lower().startswith("i") or  name.lower().startswith("f"), persons))

['fred', 'isaac', 'Ivan']

In [53]:
person_starts_with_i_f= lambda name: name.lower()[0]=='i' or name.lower()[0]=='f'

person_starts_with_i_f("fred")

True

In [57]:
persons = ['alfred','tabitha','william','fred','isaac','Ivan','arla']
def starts_with(name):
           
    name = name.lower()
    condition = name.startswith("i") or name.startswith("f")
    return condition
starts_with("William")

False

2. Seperate family names and first name and return them as pair.

In [60]:
names = ["Alex Reed", "Nitesh Patel", "Mari Schmidt", "Joe Lukas"]

output = [("Alex","Reed"), ("Nitesh","Patel"), ("Mari","Schmidt"),("Joe","Lukas")]

In [58]:
def split_names(name):
    first_name, last_name = name.split(" ")
    return first_name, last_name

split_names("Hamid Omid")

('Hamid', 'Omid')

In [61]:
list(map(split_names, names))

[('Alex', 'Reed'), ('Nitesh', 'Patel'), ('Mari', 'Schmidt'), ('Joe', 'Lukas')]

In [63]:
list(map(lambda name: tuple(name.split()), names))

[('Alex', 'Reed'), ('Nitesh', 'Patel'), ('Mari', 'Schmidt'), ('Joe', 'Lukas')]

3. Find the averge of the scores.

In [64]:
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65, 92, 85]

import numpy as np

np.mean(scores)

75.33333333333333

In [66]:
def sum(x,y):
    return x + y

reduce(sum, scores)/len(scores)

75.33333333333333

In [67]:
reduce(lambda x,y: x + y, scores)/len(scores)

75.33333333333333

4. Write a function that changes celius to farenheit using lambda

In [69]:
convert_f_to_c = lambda t: (t - 32)/1.8
convert_c_to_f = lambda t: t * 1.8 + 32


convert_f_to_c(138)

58.888888888888886

In [70]:
convert_c_to_f(58.888888888888886)

138.0

5. Count the number of the words in the list.

In [72]:
zen = ['beautiful is better than ugly',
       'explicit is better than implicit',
       'simple is better than complex',
       'complex is better than complicated',
       'flat is better than nested',
       'sparse is better than dense',
       'readability counts']

In [74]:
sentences_splited = list(map(lambda sentence: sentence.split(), zen))

In [75]:
sentences_splited

[['beautiful', 'is', 'better', 'than', 'ugly'],
 ['explicit', 'is', 'better', 'than', 'implicit'],
 ['simple', 'is', 'better', 'than', 'complex'],
 ['complex', 'is', 'better', 'than', 'complicated'],
 ['flat', 'is', 'better', 'than', 'nested'],
 ['sparse', 'is', 'better', 'than', 'dense'],
 ['readability', 'counts']]

In [76]:
word_counts = list(map(lambda word_list: len(word_list), sentences_splited))

In [78]:
reduce(lambda x,y: x + y,word_counts)

32

In [80]:
len(reduce(lambda string1, string2:string1+" "+string2, zen).split())

32

In [84]:
len(set(reduce(lambda string1, string2:string1+" "+string2, zen).split()))

16

In [85]:
word_list_count= reduce(lambda x,y: x+y,list(map(lambda name: len(name.split()),zen)))
print(word_list_count)

32

In [86]:
word_counts = list(map(lambda word_list: len(word_list), sentences_splited))
word_counts
def sum(x,y):
    return x+y
result = reduce(sum,word_counts)
print(result)

32

7. Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.

In [1]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

output = {
    "name": "Kelly",
    "salary": 8000,}

8. Given different scored marks of students. We need to find grades. The test score is an average of the respective marks scored in assignments, tests and lab-works. The final test score is assigned using below formula.

10 % of marks scored from submission of Assignments \
70 % of marks scored from Test \
20 % of marks scored in Lab-Works 

score >= 90 : "A" \
score >= 80 : "B" \
score >= 70 : "C" \
score >= 60 : "D"

In [2]:
# 1. Jack's dictionary
jack = { "name":"Jack Frost",
         "assignment" : [80, 50, 40, 20],
         "test" : [75, 75],
         "lab" : [78.20, 77.20]
       }
         
# 2. James's dictionary
james = { "name":"James Potter",
          "assignment" : [82, 56, 44, 30],
          "test" : [80, 80],
          "lab" : [67.90, 78.72]
        }
  
# 3. Dylan's dictionary
dylan = { "name" : "Dylan Rhodes",
          "assignment" : [77, 82, 23, 39],
          "test" : [78, 77],
          "lab" : [80, 80]
        }
          
# 4. Jessica's dictionary
jess = { "name" : "Jessica Stone",
         "assignment" : [67, 55, 77, 21],
         "test" : [40, 50],
         "lab" : [69, 44.56]
       }
         
# 5. Tom's dictionary
tom = { "name" : "Tom Hanks",
        "assignment" : [29, 89, 60, 56],
        "test" : [65, 56],
        "lab" : [50, 40.6]
      }

9. Sometimes, while working with Python dictionaries, we can have a problem in which we need to remove all the duplicate values across all the dictionary value lists. This problem can have application in data domains and web development domains. Let’s discuss certain ways in which this task can be performed.

In [5]:
test_dict = {'Manjeet' : [1, 4, 5, 6],
            'Akash' : [1, 8, 9],
            'Nikhil': [10, 22, 4],
            'Akshat': [5, 11, 22]}

desired_output =  {"Akshat": [11], "Nikhil": [10], "Manjeet": [6], "Akash": [8, 9]}